.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  margin: 0 0 5rem 0;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login_form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login_form > input:focus {
  outline: none;
}

.login_form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login_form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login_form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.login_form > button:disabled,
.login_form > button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}
.login_first {
  color: rgb(109, 4, 4);
  background: rgb(255, 163, 163);
  border-radius: 5px;
  padding: 1rem 1.25rem;
}
.login_error {
  color: red;
  padding: 0.5rem 0.625rem;
}
