.host_dashboard_earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host_dashboard_earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host_dashboard_earnings > .info > p {
  color: #4d4d4d;
}

.host_dashboard_earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host_dashboard_earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host_dashboard_reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host_dashboard_reviews > h2 {
  margin: 0;
}

.host_dashboard_reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host_dashboard_reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host_dashboard_reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host_dashboard_vans {
  padding: 38px 26px;
}

.host_dashboard_vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host_dashboard_vans .host_vans_list {
  padding-inline: 0;
}

.host_van_single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding: 18px 24px;
}

.host_van_single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host_van_info {
  margin-right: auto;
}

.host_van_info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host_van_info p {
  margin-block: 10px;
}

.host_dashboard_link {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #161616;
  text-decoration: none;
}
.host_dashboard_link:hover {
  color: #4d4d4d;
}
