.host_events_title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
.host_events_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem 1.5rem;
}
.host_events_section {
  background: inherit;
  padding: 0 1rem;
}
.host_events_wrapper {
  background: white;
  border-radius: 10px;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: row;
  height: 70px;
  text-decoration: none;
  color: inherit;
  gap: 15px;
  align-items: center;
}
.host_events_wrapper > img {
  height: 100%;
  border-radius: 5px;
}
.host_events_info > p {
  color: #4d4d4d;
}
