.host_event_detail_container {
  display: flex;
  flex-direction: column;
  margin: 4rem 1.5rem 1.5rem 2.5rem;
  background: inherit;
  color: #161616;
  gap: 20px;
}
.host_event_detail_link {
  color: inherit;
  text-decoration: none;
}
.host_event_detail_link:hover {
  text-decoration: underline;
}
.host_event_detail_navbar {
  margin: 1.5rem 0;
  color: #161616;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.host_event_detail_navbar > a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
.host_event_detail_content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  padding: 1.5rem;
}

.host_event_detail_title {
  display: flex;
  flex-direction: row;
  height: 160px;
  color: #161616;
  gap: 3rem;
}
.host_event_detail_title_content {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.host_event_detail_title_content > p {
  margin: 0;
}
.host_event_detail_title > img {
  height: 100%;
  border-radius: 5px;
}
.host_event_detail_badge {
  display: inline-block;
  width: fit-content;
  color: #ffead0;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background: #414040;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.rugged {
  background: #115e59;
}
.luxury {
  background: #161616;
}
.simple {
  background: #e17654;
}
.host_event_detail_price > span {
  font-weight: bold;
}
