.host-navbar_container {
  background: #fff7ed;
  padding: 2.25rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.host-navbar_logo {
  max-width: 30%;
}
.host-navbar_logo > img {
  width: 100%;
  max-height: 40px;
}
.host-navbar_nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.host-navbar_nav > a {
  text-decoration: none;
  color: #4d4d4d;
}
.host-navbar_nav > a:hover {
  text-decoration: underline;
  color: #161616;
}
@media (min-width: 720px) {
  .host-navbar_nav > a {
    font-size: 1.4rem;
  }
}
