.event-detail_container {
  background: #fff7ed;
  padding: 2rem;
}
.event-detail_container > a {
  text-decoration: none;
  color: inherit;
}
.event-detail_container > a:hover {
  text-decoration: underline;
}
.event-detail_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3rem 0 6rem 0;
  margin: 0 auto;
  max-width: 500px;
}
.event-detail_content > img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
.event-detail_badge {
  display: inline-block;
  width: fit-content;
  color: #ffead0;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background: #414040;
  border-radius: 5px;
  font-size: 1rem;
}

.rugged {
  background: #115e59;
}
.luxury {
  background: #161616;
}
.simple {
  background: #e17654;
}
.event-detail_btn,
.event-detail_btn_leave {
  width: 100%;
  color: white;
  font-weight: 600;
  background: #ff8c38;
  border: none;
  padding: 0.75rem 0;
  border-radius: 5px;
  cursor: pointer;
}
.event-detail_btn:hover {
  background: #e67d32;
}
.event-detail_btn_leave {
  background: #ff3f38;
}
.event-detail_btn_leave:hover {
  background: #e64d32;
}
.event-detail_content > p {
  margin: 0;
}
.event-detail_content > h2 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
.event-detail_price {
  margin: 0;
  font-size: 20px;
}
.event-detail_price > span {
  font-size: 24px;
  font-weight: bold;
}
