.navbar_container {
  background: #fff7ed;
  padding: 2.25rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.navbar_logo {
  max-width: 30%;
}
.navbar_logo > img {
  width: 100%;
  max-height: 40px;
}
.navbar_nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.navbar_nav > a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.25rem;
}
.navbar_nav > a:hover {
  text-decoration: underline;
  color: #161616;
}
.navbar_nav > .navbar_selected {
  font-weight: bold;
  text-decoration: underline;
}
.login_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.login_icon {
  height: 70%;
}
.navbar_logout {
  border: none;
  background: none;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.navbar_logout:hover {
  color: #161616;
}
@media (min-width: 720px) {
  .navbar_nav > a {
    font-size: 1.5rem;
  }
}
