.notfound_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 1rem auto;
}
.notfound_container > a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.notfound_container > a:hover {
  background: rgb(26, 25, 25);
}
